body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #001020;
  color: #fff;
  padding: 02px;
}
header img{
  margin-left: 14px;
  width: 120px; 
  height: auto; 


}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  width: 30%;
  padding-top: 30px;
 margin-bottom: 10px;
  margin-left: -230px; 


}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section.hero {
  background-image: url("caminho/para/imagem.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 100px 20px;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

section.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

section.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4e1010;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

footer {
  background-color: #D9D9D9;
  color: #fff;
  padding: 150px;
  text-align: center;
  position: relative;
  top: -350px;

  
}
.quadrado{
  width: 200px;
  height: 200px;
  background-color: #D9D9D9;
  margin: 50px;
  display: inline-block;
  padding-top: 90px;
  border-radius: 8px;
  position: relative;
  top: -350px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-align: center;
  text-decoration: underline;
}

footer .boxs{
  width: 320px;
  min-height: 150px;
  padding: 20px;
  text-align: center;
}

footer .boxs:nth-child(4)
{
width: 400px;
}

.boxs h3 {
color: #000000;
margin-botton: 20px;

}

.boxs ul li {
margin:10px 0px;
list-style: none;
}

.boxs ul li a {
color: #696969;
text-decoration: none;

}

.todos{
position: relative;
left: -550px;
top: -200px;
}

.todos2{
position: relative;
left: -550px;
top: -210px;
}
.todos3{
position: relative;
left: -400px;
top: -223px;
}
.todos4{
position: relative;
left: -400px;
top: -230px;
}
.todos5{
position: relative;
left: -190px;
top: -223px;
}
.todos6{
position: relative;
left: -700px;
top: -223px;
}
.todos7{
position: relative;
left: -700px;
top: -230px;
}

.search-bar {
display: inline-flex;
border-radius: 10px;
overflow: hidden;
background-color: transparent;
color: white;
position: relative;
top: -1158px; 
margin-left: 280px;
border: 2px solid white;
}

.search-bar input[type="text"] {
padding: 10px;
border: none;
background-color: transparent;
color: white
}

.search-bar button {
padding: 10px 20px;
border: none;
background-color: transparent;
cursor: pointer;
border: 0,5px solid white;
background-image: url("lupa.png");
}
.Facebook{
  width: 23px;
  height: 23px;
  float: right;
  right: 2px;
  position: relative;
  top: -570px;
}
.Instagram{
  width: 23px;
  height: 23px;
  float: right;
  right: 10px;
  position: relative;
  top: -570px;
}
.Twitter{
  width: 23px;
  height: 23px;
  float: right;
  right: -75px;
  position: relative;
  top: -570px;
}
.botao4 {
  position: absolute;
  top: 75%;
  left: 84%;
  transform: translate(-50%, -50%);
  padding: 5px 20px;
  background-color: #001020;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.botao:hover {
background-color: #555;
}

.botao1 {
  position: absolute;
  top: 75%;
  left: 84%;
  transform: translate(-980%, -50%);
  padding: 5px 20px;
  background-color: #001020;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.botao:hover {
background-color: #555;
}

.botao2 {
  position: absolute;
  top: 75%;
  left: 85%;
  transform: translate(-680%, -50%);
  padding: 5px 20px;
  background-color: #001020;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.botao:hover {
background-color: #555;
}

.botao3 {
  position: absolute;
  top: 75%;
  right: 40%;
  transform: translate( 50%, -50%);
  padding: 5px 20px;
  background-color: #001020;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.botao:hover {
background-color: #555;
}